h1 
{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

body {
    font-family: Arial, sans-serif;
    background-image: url("images/background-image3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.schedule-container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;

}

th,
td {
    border: 1px solid black;
    padding: 10px;

}

th {
    background-color: #f2f2f2;
}

.info {
    background-color: #e76cf3;
    font-weight: bold;
}

.infolab {
    background-color: #f07f7f;
    font-weight: bold;
}

.web {
    background-color: #f8b45a;
    font-weight: bold;
}

.weblec {
    background-color: #e2ea50;
    font-weight: bold;
}

.auto {
    background-color: #6bf458;
    font-weight: bold;
}

.algo {
    background-color: #31efe2;
    font-weight: bold;
}
